# Chapter 1

In [43]:
for row in range (5):
    for column in range(7):
        if ((row==0 or row==2) and (column>=0 and column<=6)):
            print('F',end='')
        elif ((column>=0 and column<=1)):
            print('F',end='')
    print()

FFFFFFF
FF
FFFFFFF
FF
FF

In [60]:
n=1000
sum=0
for i in range(0,n):
    sum+=4*(1/(2*i+1)*(-1)**i)
print(sum)

3.140592653839794

In [61]:
312032486+5*365*24*60*60//7-5*365*24*60*60//13+5*365*24*60*60//45

325932970

# Chapter 2

In [76]:
#2.5
print('Enter the subtotal and a gratuity rate: ',end='')
subtotal,gratuity=eval(input())
sum=round(subtotal*(1+gratuity/100),2)
print(f'The gratuity is {subtotal*gratuity/100} and the total is {sum}')

Enter the subtotal and a gratuity rate:15.69,15
The gratuity is 2.3535 and the total is 18.04

In [105]:
#2.6
print('Enter a number between 0 and 1000: ',end='')
number=eval(input())
sum=0
for i in range(len(str(number))):    
    f_digit=number%10
    number=int(number/10)
    sum+=f_digit
print(f'The sum of the digits is {sum}')

Enter a number between 0 and 1000: 789
78
7
0
The sum of the digits is 24

In [88]:
#2.7
print('Enter the number of minutes: ',end='')
minutes=eval(input())
total_days=minutes//(24*60)
left_days=total_days%365
year=total_days//365
print(f'{minutes} minutes is approximately {year} years and {left_days} days')

Enter the number of minutes: 1000000000
1000000000 minutes is approximately 1902 years and 214 days

In [118]:
#2.13
result=[]
print('Enter integer: ',end='')
number=eval(input())
for i in range(len(str(number))):
    result.append(number%10)    
    number=number//10
result.reverse()
for j in result:
    print(j)

Enter integer:  3125
3
1
2
5

# Chapter 3

In [121]:
import math
print('Enter point 1 (latitude and longitude) in degrees: ')
x1,y1=eval(input())
print('Enter point 2 (latitude and longitude) in degrees: ')
x2,y2=eval(input())
radius=6371.01
d=radius*math.acos(math.sin(math.radians(x1))*math.sin(math.radians(x2))+math.cos(math.radians(x1))*math.cos(math.radians(x2))*math.cos(math.radians(y1-y2)))
print(f'The distance between the two points is {d} km')

Enter point 1 (latitude and longitude) in degrees:
39.55, -116.25
Enter point 2 (latitude and longitude) in degrees:
41.5, 87.37
The distance between the two points is 10691.79183231593 km

# Chapter 4

In [126]:
#4.4
import random
number1=random.randint(0,100)
number2=random.randint(0,100)
answer=eval(input('Enter the sum of two numbers: '))
if answer==number1+number2:
    print('You are right')
else:
    print('You arer wrong. Try it again!')

Enter the sum of two numbers: 45
You arer wrong. Try it again!

In [132]:
#4.8
num1,num2,num3=eval(input('Enter three numbers: '))
if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3
if (num1<=num2 and num1<=num3):
    smallest = num1  
elif (num2<=num1 and num2<=num3):
    smallest = num2
else:
    smallest = num3
middle = (num1 + num2 + num3) - largest - smallest
print(largest,middle,smallest)

Enter three numbers: 1,2,3
3 2 1

In [178]:
import random
lottery=random.randint(100,999)
a=lottery
lottery3=lottery%10
lottery=lottery//10
lottery2=lottery%10
lottery=lottery//10
lottery1=lottery%10
lottery_list=[lottery1,lottery2,lottery3]
number=eval(input('Enter number that consists of three digits: '))
b=number
print(a)
if len(str(number))==3:
    number3=lottery%10
    number=number//10
    number2=number%10
    number=number//10
    number1=number%10
    number_list=[number1,number2,number3]
    if b==a:
        print('you won 10 000$')
    elif set(lottery_list)==set(number_list):
        print('you won 3 000$')
    elif (number1==lottery1 
          or number1==lottery2 
          or number1==lottery3 
          or number2==lottery1 
          or number2==lottery2 
          or number2==lottery3 
          or number3==lottery1 
          or number3==lottery2 
          or number3==lottery3):
        print('you won 1 000$')
    else:
        print('you lose') 
else:
    print('You did not enter three digited number')

Enter number that consists of three digits: 465
840
you won 1 000$

# Chapter 5

In [182]:
num1,num2=eval(input('Enter two number: '))
result=1
k=2
while num1>=k and num2>=k:
    if num1%k==0 and num2%k==0:
        result=k
    k+=1
print(f'The greatest common divisor for {num1} and {num2} is {result}')

Enter two number: 125,2525
The greatest common divisor for 125 and 2525 is 25

In [187]:
num=eval(input('Enter number: '))
k=2
while num>=k:
    if num%k==0:
        print(k,end=' ')    
    k+=1

Enter number: 120
2 3 4 5 6 8 10 12 15 20 24 30 40 60 120

In [205]:
n=eval(input('Enter number of lines: '))
for row in range(1,n+2):
    for column in range(1,row):
        print(column,end=' ')
    print()

Enter number of lines: 7

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [204]:
n=eval(input('Enter rows: '))
for i in range(1,n):
    print('*'*i)

Enter rows: 7
*
**
***
****
*****
******

In [206]:
n=eval(input('Enter number of lines: '))
for row in range(1,n+2):
    for column in range(1,row):
        print(column,end=' ')
    print()

Enter number of lines: 6

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [208]:
n=eval(input('Enter number of lines: '))
for row in range(n+1,1,-1):
    for column in range(1,row):
        print(column,end=' ')
    print()

Enter number of lines: 6
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [218]:
n=eval(input('Enter number of lines: '))
for row in range(1,n,1):
    for column in range(n-row,0,-1):
        print(end=' ')
    for column in range(row,0,-1):
        print(column,end=' ')
    print()

Enter number of lines: 7
      1
     2 1
    3 2 1
   4 3 2 1
  5 4 3 2 1
 6 5 4 3 2 1

# Chaper 6

In [223]:
def sumDigits(n):
    summation=0
    for i in range(len(str(n))):
        digit=n%10
        n=n//10
        summation+=digit
    return summation
print(sumDigits(456))

15

In [263]:
def reverse(number):
    result=[]
    for i in range(len(str(number))):
        result.append(number%10)
        number=number//10
    return int(''.join(map(str, result))) 
def isPalindrome(number):
    first_part=[]
    second_part=[]
    all_number=[int(x) for x in str(number)]
    first_part=all_number[:len(all_number)//2]
    second_part=all_number[len(all_number)//2:]
    a=int(''.join(map(str, second_part)))
    c=int(''.join(map(str, first_part)))
    b=reverse(a)
    if b==c:
        print(True)
    else:
        print(False)        
isPalindrome(1221)

True

In [271]:
def convertMillis(milsec):
    sec=milsec//1000
    minute=sec//60
    left_sec=sec%60
    hour=minute//60
    left_minute=minute%60
    return f'{hour}:{left_minute}:{left_sec}'
print(convertMillis(555550000))

154:19:10